button {
    background-color:white;
    color: black;
    font-family: 'Turret Road', cursive;
}
table, th, td {
    font-family: 'Orbitron', sans-serif;
    border: 1px solid white;
    border-radius: 0px;
    color: red;
}
p {
	font-family: 'Orbitron', sans-serif;
	color: limegreen;
}
table {
    width: 100%;
}
th {
    font-size: 290%;
}
body {
    background-color: #080d13;
}
