* {
    font-family: 'Staatliches', cursive;
} header {
    background-color: bisque;
    text-align: center;
    font-size: 300%;
    padding: 20px;
} header a {
    line-height: 20px;
    font-size: 75%;
} .cv {
    height: 600px;
    width: 600px;
    border: 1px solid black;
}